<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price">          
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>          
      </div>
    </div>

    <div class="row">
      <h3>Leave a Review</h3>
        <%= form_for [@product, @review], url: `/products/#{@product.id}/reviews` do |f| %>
          <div class="form-group">
            <%= f.select :rating, (1..5).to_a, :prompt => "Rating", :required => true, class: "form-select" %>
          </div>
          <div class="form-group">
            <%= f.text_area :description, :required => true, class: "form-control", placeholder: "Write a review" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit", class: "btn btn-success" %>
          </div>
        <% end %>
    </div>

    <div class="row">    
    <h3>Reviews:</h3>
      <% if @reviews.size > 0 %>
        <% @reviews.each do |review| %>
          <p><strong>User:</strong> <%= "#{review.user.first_name} #{review.user.last_name}" %></p>
          <p><strong>Rating:</strong> <%= review.rating %> / 5</p>
          
          <p><%= review.description %></p>
          </br>
          <hr>
          <% end %>
      <% else @reviews.size == 0 %>
        <p><i>There are no reviews yet.</i></p>
      <% end %>



  </article>

</section>
